<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>Tree of Savior - Pre Register Event</title>
		<meta name="viewport" content="width=device-width">
		<meta name="robots" content="index,follow" />

		<meta name="description" content="Tree of Savior Grand Launch">
		<meta name="keywords" content="Tree of Savior, pre-register">
    <meta name="google-site-verification" content="R9JLwDrytF9l4gr47rXUjGH2-J9v7ufc7RfKvmqBvGY" />
		
		<meta property="og:type" content="article">
		<meta property="og:title" content="Tree of Savior">
		<meta property="og:url" content="https://www.papayaplay.com">
		<meta property="og:description" content="">
		<meta property="og:image" content="https://static.papayaplay.com/static/assets/images/portal/common/papaya-logo.svg">
		<meta property="fb:app_id" content="601567683367843">

		<link rel="shortcut icon" href="https://static.papayaplay.com/static/assets/images/portal/common/favicon.png">
		
		<!-- style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://static.papayaplay.com/static/assets/styles/common.css?2018">
    <link rel="stylesheet" href="https://static.papayaplay.com/static/assets/styles/toastr.css">
			
		<!-- link scripts --> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<!-- tweenMax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <!-- scroll magic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"></script>
    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- fancybox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.7/css/jquery.fancybox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


<!-- Google tag 파파야 공통 (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F7RRMGCSB1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-F7RRMGCSB1');
</script>

    <!-- googleTagManager 2022.11.09 [ITDEV-598] -->
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5GMSPD8');</script>
<!-- End Google Tag Manager -->

  </head>
  <body id="echo-of-soul">
    <!-- googleTagManager 2022.11.09 [ITDEV-598] -->
		<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GMSPD8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <link rel="stylesheet" href="./style.css" />
    <div id="tos-pre-register">
      <!-- login for support -->
      <!-- <div class="support-login-container" @click="gotoLogin()"><i class="fa fa-question-circle" aria-hidden="true"></i> support</div> -->
    
     

      <div id="container" class="event_cont">
        <div id="top">
          <div class="top_in">
              <a href="#" class="tos_logo"></a>
              <span class="top_txt">GLOBAL PRE-REGISTERATION</span>
              <a href="http://www.papayaplay.com" class="papaya_logo" target="_blank"></a>
          </div>
        </div>

        <!-- 완료 페이지 : 완료되면 display : block으로 바꿔주세요. -->
        <section id="complete" style="display:block;">
          <p class="complete_img"></p>
          <p class="img_ch1"></p>
          <p class="img_ch2"></p>
          <a @click="gotoDiscord" target="_blank" class="btn_ds"></a>

          <!--TOS사전예약 페이지 나오면 링크 변경 필요 *Teddy -->
          <a href="https://www.papayaplay.com/account/signin.do?redirect_url=https://www.papayaplay.com/eosevent/prevent.do" target="_blank" class="btn_pa"></a>
          <!--TOS사전예약 페이지 나오면 링크 변경 필요 *Teddy -->
          
          <div class="content-wrapper-wrap">
              <div class="cont-desc-2">
                Have questions? Need support? : <a :href="linkSupport" target="_blank"><span class="style-link">Contact Support Here</span></a>
              </div>
              <div class="sns-wrapper">
                <div class="sns-button" @click="gotoDiscord"><img src="./images/ico_ds.png" class="sns-discord sns-image"></div>
                <div class="sns-button" @click="gotoYoutube"><img src="./images/ico_yt.png" class="sns-youtube sns-image"></div> 
                <div class="sns-button" @click="gotoFacebook"><img src="./images/ico_fb.png" class="sns-facebook sns-image"></div> 
                <div class="sns-button" @click="gotoInsta"><img src="./images/ico_in.png" class="sns-insta sns-image"></div> 
              </div>
            </div>
        </section>
        
         <!-- 사전예약 페이지 : 완료되면 display : none으로 바꿔주세요.  -->
        <section id="pre-register-sec" style="display: none;">
        <div class="side-banner-wrapper">
          <a class="banner-content" href="#pre-register">
            <img src="./images/floating_banner.png" alt="Pre-register Banner"/>
          </a>
        </div>
        <div id="intro">
            <div id="overwrap-cover"></div>
            <video id="sec-01-video" playsinline="" autoplay="" muted="muted" loop="loop" poster="./images/intro_bg.jpg">
              <source src="https://static.papayaplay.com/static/assets/videos/eos/preregi_bg_2.mp4" type="video/mp4">
            </video>
            <p class="logo_big"></p>
            <p class="btn_play"></p>
            <a href="#pre-register" target="_blank" class="btn_register"></a>
            <img class="img_mouse" src="./images/img_mouse.png">
            <!-- <span class="copy_txt">© 2023 Vertigo Games International Pte. Ltd. All Rights Reserved</span> -->
        </div>
        
        <div id="content">
            
            <div id="event01_cont01" class="event_cont">
                <a href="#pre-register" target="_blank" class="btn_register"></a>
                              
            </div>
            <div id="event01_cont02" class="event_cont">
                <a href="#pre-register" target="_blank" class="btn_register"></a>
              <p class="section2_txt"></p>
              <p class="section2_img"></p>
            </div>
            <div id="event01_cont03" class="event_cont"></div>
            
            <div id="event01_cont04" class="event_cont">
              <div class="content-wrapper-wrap">
                <div id="pre-register" class="content-wrapper">
                <!-- <div class="pre-register-wrapper">
                    <img src="https://static.papayaplay.com/static/assets/images/eos/event/preregister/ico_email.png" class="email-box"> 
                    <input type="text" placeholder="Please enter your email" class="write-email-box" @keyup.enter="sendToUserMail">
                </div> 
                <div class="pre-register-now">
                    <img src="./images/btn_submit.png" class="btn-normal">
                </div> -->


                  <div class="pre-register-wrapper">
                    <img :src="imgUrl + '/ico_email.png'" class="email-box"/>
                    <input type="text" v-model="inputEmail" placeholder="Please enter your email" class="write-email-box" @keyup.enter="sendToUserMail">
                  </div>
                  <div class="pre-register-now" @click="sendToUserMail">
                    <img src="./images/btn_submit.png" class="btn-normal">
                  </div>
                </div>
                <div class="check-agree">
                    <input type="checkbox" v-model="chkAgree" class="agree-chkbox" />
                    <div class="agree-text" @click="toggleCheckBox">
                      I acknowledge that my data will be processed in accordance with the <a :href="linkPolicy" target="_balnk"><span class="style-link">Privacy Policy</span></a>
                    </div>
                  </div>
        
                  <div class="cont-desc-2">
                    Pre-register and create a Papaya Play account with the same email address.<br/>
                    Your character will receive the pre-registration package.
                    <br/><br/>
                    Have questions? Need support? : <a :href="linkSupport" target="_blank"><span class="style-link">Contact Support Here</span></a>
                  </div>
                <div class="sns-wrapper">
                  <div class="sns-button" @click="gotoDiscord"><img src="./images/ico_ds.png" class="sns-discord sns-image"></div>
                  <div class="sns-button" @click="gotoYoutube"><img src="./images/ico_yt.png" class="sns-youtube sns-image"></div> 
                  <div class="sns-button" @click="gotoFacebook"><img src="./images/ico_fb.png" class="sns-facebook sns-image"></div> 
                  <div class="sns-button" @click="gotoInsta"><img src="./images/ico_in.png" class="sns-insta sns-image"></div> 
                </div>
              </div>

            </div>
        </div>
      </section>
    </div>
    <div class="footer-wrapper sub-section-3-2">
      <div class="footer--line"></div> 
      <div class="footer-left">
        <a href="http://www.papayaplay.com" target="_blank" class="left_logo_wrapper">
          <img src="https://static.papayaplay.com/static/assets/images/eos/event/preregister/logo_papaya.png" class="company--logo1">
        </a> 
        <a href="https://imc.co.kr/IMC_EN" target="_blank" class="right_logo_wrapper">
          <img src="./images/logo_imcgames.png" class="company--logo2">
        </a>
      </div> 
      <div class="footer-middle">
        <span class="copyright">© 2023 Vertigo Games International Pte. Ltd.</span> 
        <span class="copyright">&nbsp;All Rights Reserved</span>
      </div> 
      <div class="footer-right">
        <span><a :href="linkTerms" class="policy" taret="_blank">TERMS OF SERVICE&nbsp;&nbsp;&nbsp;|</a></span>
        <span><a :href="linkPolicy" class="policy" taret="_blank">&nbsp;&nbsp;&nbsp;PRIVACY POLICY</a></span>
      </div>
    </div>



      <div class="bottom-space"></div>

      <div v-show="isShowPopup" class="popup-window">
        <div class="popup-container">
          <!-- <img class="popup-icon" :src="imgUrl + '/ico_dragon.png'"> -->
          <!-- <div class="popup-title"></div> -->
          <div class="popup-description" v-html="popupMessage"></div>
          <div class="btn-close" @click="closeEventPopup">CLOSE</div>
        </div>
      </div>
    </div>

    <script>
      toastr.options.closeButton = true;
      toastr.options.timeOut = 0;
      toastr.options.closeOnHover = false;
      toastr.options.extendedTimeOut = 0;
    </script>
   
    <script type="text/javascript">
      // Vue
      let lsPreRegister = new Vue({
        el: '#tos-pre-register',
        data: function () {
          return {
            imgUrl: 'https://static.papayaplay.com/static/assets/images/eos/event/preregister',
            bgTop: 'https://static.papayaplay.com/static/assets/images/9dragons/event/nd_pre_register/bg1_m.png',
            inputEmail: '',
            youtubeLink : 'https://www.youtube.com/watch?v=VuHulKLYAr0',
            isShowPopup : false,
            flagAni : false,
            popup: false,
            unid: "5037051" || null,
            userID: "woonggu" || null,
            isLogin: "0" || null,
            userPhoto: "PI/9/1/a/woonggu/pi.png" || '',
            userIP: "209.52.88.20" || null,
            userPhotoUrl: 'https://blackshotupload.s3.amazonaws.com/',
            popupMessage: '',
            baseAid: 1100,
            isProcessing: false,
            chkAgree: false,
            linkFacebook: "https://www.facebook.com/TOSGLB",
            linkYoutube: "https://youtube.com/@treeofsaviorglobal",
            linkDiscord: "https://discord.gg/4nnnz3bU",
            linkInsta: "https://www.instagram.com/treeofsaviorglobal",
            linkPolicy: "https://www.papayaplay.com/portal.do?tp=privacy",
            linkTerms: "https://www.papayaplay.com/portal.do?tp=terms",
            linkSupport: "https://vertigogamesaid.freshdesk.com/support/home",
          }
        },
        methods: {
          startAnimation: function () {
            let wWidth = $(window).width();
            //console.log(wWidth);
            let mainAnimation = new TimelineMax();

            // let effect1 = mainAnimation.fromTo(
            //   ".explision--img",
            //   0.4,
            //   { transform: "scale(0.4)", opacity: 0 },
            //   { transform: "scale(1.0)", opacity: 1, ease: "Power2.easeIn" },
            //   0.1
            // );
            let effect2 = mainAnimation.fromTo(
              "#down-scroll",
              1.3,
                { opacity: 0 },
                { opacity: 1, ease: "Power0.easeOut" },
              0.5
            );
            let effect3 = mainAnimation.fromTo(
              "#goto-pr-now",
              0.9,
                { opacity: 0 },
                { opacity: 1, ease: "Power0.easeOut" },
              0.5
            );
            let effect4 = mainAnimation.fromTo(
              "#watch-trailer",
              0.4,
              { opacity: 0 },
              { opacity: 1, ease: "Power0.easeOut"},
              0.5
            );
            let effect5 = mainAnimation.fromTo(
              ".main-logo",
              0.0,
              { opacity: 0 },
              { opacity: 1, ease: "Power0.easeOut"},
              0.5
            );
          },
          getParameterByName : function(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            let regex = new RegExp("[#&|\\?&]" + name + "=([^&#]*)");
            let results = regex.exec(location.href);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
          },
          getAidByUtmterm : function(name) {
            vm = this;
            let subStrUtmSrouce = "";
            let strUtmSource = vm.getParameterByName(name);
            if( strUtmSource.length > 3 ) {
              subStrUtmSrouce = strUtmSource.substr(0,3);
            }
            subStrUtmSrouce = subStrUtmSrouce.replace(/[^0-9]/g,''); // get only number in sting
            let nUtmTerm = parseInt(subStrUtmSrouce, 10);
            return nUtmTerm;
          },
          isEmailValid: function(email) {
            let vm = this;
            let regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return regex.test(email);
          },
          sendToUserMail : function() {
            var vm = this;
            var agreeText = document.getElementsByClassName("agree-text");

            toastr.options = {
              "positionClass":"toast-top-full-width",
              "timeOut": 0,
            };

            if( vm.isProcessing === true) {
              toastr.error("It's running. Please wait...");
              return;
            } else {
              vm.isProcessing = true;
            }

            if( vm.chkAgree === false ) {
              agreeText[0].classList.add("style-attention");
              alert("Please check on the acknowledgement below the submit section.");
              vm.isProcessing = false;
              return;
            }

            // get AID from UTM-SOURCE parameter
            let targetAid = vm.getAidByUtmterm('utm_source');
            if( isNaN(targetAid) ) {
              targetAid = vm.baseAid;
            } else {
              targetAid = targetAid+vm.baseAid;
            }

            if( vm.isEmailValid(vm.inputEmail)) {
              //console.log("targetAid/e-mail : ", targetAid, "/", vm.inputEmail);

              $.ajax({
                url: ioRootPath + "/json.do?callback=?",
                //url: "http://io.papayaplay.net" + "/json.do?callback=?",
                type: 'POST',
                data: { 
                  cm: "Account.Game.PreRegistrationEmail", 
                  email: vm.inputEmail, 
                  sid: 11,
                  aid: targetAid
                },
                crossDomain: true,
                dataType: 'json',
              })
                .success(function (res) {
                  console.log("Result : ", res);
                  //console.log("ResultCode[0].Description : ", res.ResultCode[0].Description);
                  if( res.ResultCode[0].Code == "10000" ) {
                    // toastr.success("Success!<br>Message sent. Please check your email.");
                    vm.popupMessage = "You have successfully pre-registered to Ragnarok. Please check the confirmation email we just sent.";
                    vm.isShowPopup = true;
                    //해당 메시지 대신 사전예약완료되면 완료페이지로 이동하게 변경바랍니다. *Teddy //
                  } else if ( res.ResultCode[0].Code == "11000" ) {
                    // toastr.error("Exception : Email address format is invalid.");
                    vm.popupMessage = "The email you have used is invalid, please make sure you use a valid E-mail to Pre-Register for the new Tree of Savior.";
                    vm.isShowPopup = true;
                    
                  } else if ( res.ResultCode[0].Code == "11001" ) {
                    // toastr.error("Exception : Already registered email address.");
                    vm.popupMessage = "This Email is already Pre-Registered for the new Tree of Savior.";
                    vm.isShowPopup = true;
                  }
                  else if ( res.ResultCode[0].Code == "11002" ) {
                    // vm.popupMessage = "Error (11002)";
                    vm.popupMessage = "The pre-registration period ended on Feb 10";
                    vm.isShowPopup = true;
                    //언제 끝날지는 결정되지 않았습니다. *Teddy //
                  }
                  vm.isProcessing = false;
                });
            } else {
              console.log("e-mail inValid format!! : ", vm.inputEmail);
              // toastr.error("Fail!<br> Please check the email address you wrote.");
              vm.popupMessage = "The email you entered is invalid. <br/>Please verify your email address for the pre-registration.";
              vm.isShowPopup = true;
              vm.isProcessing = false;
            }
          },
          toggleEvent: function() {
            var vm=this;
            vm.isShowPopup = !vm.isShowPopup;
          },
          openEventPopup: function() {
            var vm=this;
            vm.isShowPopup = true;
          },
          closeEventPopup: function() {
            var vm=this;
            vm.isShowPopup = false;
            // if( $(".popup-reqform").is(event.target) ) {
            //   vm.toggleEvent();
            // }
          },
          gotoLogin: function() {
            var vm=this;
            //window.location.href='https://www.papayaplay.com/account/signin.do?redirect_url=https://www.papayaplay.com/ndevent/event.do';
            window.location.href='https://www.papayaplay.com/account/signin.do?redirect_url=https://www.papayaplay.com/eosevent/prevent.do';
          },
          gotoSignUp: function() {
            var vm=this;

            // get AID from UTM-SOURCE parameter
            let targetAid = vm.getAidByUtmterm('utm_source');
            if( isNaN(targetAid) ) {
              targetAid = vm.baseAid;
            } else {
              targetAid = targetAid+vm.baseAid;
            }

            window.location.href='https://www.papayaplay.com/account/signup.do?aid='+targetAid;
          },
          toggleCheckBox: function() {
            var vm=this;
            var agreeText = document.getElementsByClassName("agree-text");

            vm.chkAgree = !vm.chkAgree;

            if(vm.chkAgree === true) {
              agreeText[0].classList.remove("style-attention");
            }
          },
          gotoFacebook: function() {
            var vm=this;
            window.open(vm.linkFacebook);
          },
          gotoYoutube: function() {
            var vm=this;
            window.open(vm.linkYoutube);
          },
          gotoDiscord: function() {
            var vm=this;
            window.open(vm.linkDiscord);
          },
          gotoInsta: function() {
            var vm=this;
            window.open(vm.linkInsta);
          },
  		  },
        mounted: function() {
          var vm=this;

          document.getElementById('sec-01-video').pause();
          document.getElementById('sec-01-video').playsinline = true;
          document.getElementById('sec-01-video').autoplay = true;
          document.getElementById('sec-01-video').muted = true;
          document.getElementById('sec-01-video').play();

        },
        created: function() {
          var vm=this;
          window.addEventListener("load", vm.startAnimation);
          window.addEventListener('keyup', function(evt) {
            if( evt.keyCode === 27 ) {
              vm.isShowPopup = false;
            }
          });

          
        },
        destroyed: function() {
          var vm=this;
          window.removeEventListener("load", vm.startAnimation);
        }
        
      })
      
      $(document).ready(function() {

        let moveScroll = false;
        let moveInterval;
        let delayCnt = 0;
        $(window).scroll(function (e) {
          moveScroll = true;
        });
        $(".side-banner-wrapper").mouseover(function (e) {
          e.preventDefault();
          $(".side-banner-wrapper").removeClass("hide-banner");
          $(".side-banner-wrapper").addClass("show-banner");
          clearInterval(moveInterval);
          delayCnt = 0;
        });
        $(".side-banner-wrapper").mouseout(function (e) {
          e.preventDefault();
          moveScroll = false;
          setIn();
        });
        function setIn() {
          moveInterval = setInterval(function () {
            if (moveScroll) {
              $(".side-banner-wrapper").removeClass("hide-banner");
              $(".side-banner-wrapper").addClass("show-banner");
              delayCnt = delayCnt + 1;
              if( delayCnt > 3) {
                moveScroll = false;
              }
            } else {
              $(".side-banner-wrapper").removeClass("show-banner");
              $(".side-banner-wrapper").addClass("hide-banner");
              delayCnt = 0;
            }
          }, 1000);
        }
        setIn();

        // bootstrap tooltip
        $('[data-toggle="tooltip"]').tooltip();

        // section : Pre-Register (scrollmagic)
        var controller = new ScrollMagic.Controller();
        var tl01 = new TimelineMax();
        var subChar1 = TweenMax.fromTo(
          "#sec-2-sub-char",
          0.5,
          { opacity: 0, left: "0%", ease: Circ.easeOut },
          { opacity: 1, left: "14%", ease: Circ.easeIn }
        );
        tl01.add([subChar1]);

        var scene = new ScrollMagic.Scene({
          triggerElement: "#pr-section-2",
        })
          .setTween(tl01)
          .addTo(controller);

        var tl02 = new TimelineMax();
        var subChar2 = TweenMax.fromTo(
          "#sec-3-sub-char",
          0.5,
          { opacity: 0, right: "-250px", ease: Circ.easeOut },
          { opacity: 1, right: 0 ,ease: Circ.easeIn }
        );
        tl02.add([subChar2]);

        var scene2 = new ScrollMagic.Scene({
          triggerElement: "#pr-section-3",
        })
          .setTween(tl02)
          .addTo(controller);


        // var tl03 = new TimelineMax();
        // var subChar3 = TweenMax.fromTo(
        //   "#sec-4-sub-char",
        //   0.5,
        //   { opacity: 0, ease: Circ.easeOut },
        //   { opacity: 1, ease: Circ.easeIn }
        // );
        // tl03.add([subChar3]);
        // var scene3 = new ScrollMagic.Scene({
        //   triggerElement: ".cont-reward",
        // })
        //   .setTween(tl03)
        //   .addTo(controller);
        
        // video popup
        $('.various').fancybox({
          width: "90%",
          height: "90%",
          maxWidth: "1280px",
          maxHeight: "720px",
          fitToView	: true,
          autoScale   :true,
          autoSize	: true,
          closeClick	: false,
          openEffect	: 'none',
          closeEffect	: 'none'
        });
      });
    </script>
    <!-- FreshDesk Widget -->
    <!-- <script>
      window.fwSettings={ 'widget_id':66000002468 };
      !function(){if("function"!=typeof window.FreshworksWidget){var n=function(){n.q.push(arguments)};n.q=[],window.FreshworksWidget=n}}() 
    </script>
    <script type='text/javascript' src='https://widget.freshworks.com/widgets/66000002468.js' async defer></script>
    <script>
      if(isLogin == 0) {
        FreshworksWidget('hide');
      } else {
        FreshworksWidget('identify', 'ticketForm', { 
          name: userid,
          email:email,
          // Nine Dragons GroudID
          group_id: 66000429105
        });
        FreshworksWidget('hide', 'ticketForm', ['group_id', 'name', 'type', 'custom_fields.cf_unid', 'custom_fields.cf_character_name']);
        FreshworksWidget('prefill', 'ticketForm', {	
          type: 'General',
          custom_fields: {
            cf_unid: unid,
            cf_username: userid,
          }
        });
        FreshworksWidget('disable', 'ticketForm', ['email', 'name', 'custom_fields.cf_unid', 'custom_fields.cf_username'])	
      }
    </script> -->
  </div>
	</body>
</html>