@charset "utf-8";

* {
	user-select: none;
}
body{
    margin:0;
}
#container {
	min-width: 910px;
	overflow: hidden;
	background: #111110;
}
#tos-pre-register{
    min-width: 910px;
    overflow: hidden;
    background: #111110;
}

/*******************************
GNB
*******************************/
#top {
	position: absolute;
	z-index: 8;
	width: 100%;
	height: 70px;
    min-width: 910px;
	background: rgba(0, 0, 0, 0.75);
}

#top a.tos_logo {
	position: absolute;
	top: 10px;
	left: 20px;
	display: block;
	width: 216px;
	height: 46px;
	background: url('./images/logo_sm.png') no-repeat;
}
#top .top_txt{
    color:#fff;
    font-weight: 500;
    position: absolute;
    font-family: "Roboto";
    position: absolute;
    font-size: 16px;
    top: 24px;
    width: 100%;
    text-align: center;
}

#top a.papaya_logo {
	position: absolute;
	top: 16px;
	right: 20px;
	display: block;
	width: 173px;
	height: 48px;
	background: url('./images/papaya_logo.png') no-repeat;
}


/*******************************
INTRO
*******************************/
#intro {
	position: relative;
	height: 930px;
	background: url('./images/intro_bg.jpg') center 0 no-repeat;
}
#intro p.logo_big {
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -268px;
	z-index: 999;
	width: 536px;
    height: 299px;
	background: url('./images/logo_big.png') no-repeat center center;
	cursor: pointer;
}
#intro .img_mouse {
	position: absolute;
	top: 770px;
	left: 50%;
	margin-left: -30px;
	z-index: 999;
	width: 60px;
    height: 90px;
	/* background: url('./images/img_mouse.png') no-repeat center center; */
	cursor: pointer;
   
}

.img_mouse{
    font-size: 5em;
    animation: motion .7s /* 속도 */
               linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
               infinite alternate; /* 무한 반복 */
  }
  @keyframes motion {
	0% {margin-top: 0px;} /* 처음 위치 */
	100% {margin-top: 10px;} /* 마지막 위치 */
  }

#intro .copy_txt{
    color:#F0F0F0;
    position: absolute;
    font-size: 13px;
    bottom:30px;
    width: 100%;
    text-align: center;
    z-index: 999;
    font-family: 'Roboto';
}

#intro p.btn_play {
	position: absolute;
	top: 427px;
	left: 50%;
	margin-left: -77.5px;
	z-index: 999;
	width: 155px;
	height: 151px;
	background: url('./images/btn_play.png') no-repeat center center;
	cursor: pointer;
}
#intro p.btn_play::before {
	content: '';
	display: block;
	clear: both;
	width: 155px;
	height: 151px;
	background: url('./images/btn_play_on.png') no-repeat center center;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
}

#intro p.btn_play:hover::before {
	opacity: 1;
}

.btn_register {
	position: absolute;
	top: 647.9px;
	left: 50%;
	margin-left: -209.5px;
	z-index: 999;
	width: 419px;
	height: 113px;
	background: url('./images/btn_register.png') no-repeat center center;
	cursor: pointer;
}
#overwrap-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 930px;
    z-index: 1;
    background-repeat: repeat;
    background-image: url(https://static.papayaplay.com/static/assets/images/eos/event/preregister/bg_video_dark.png);
}
.btn_register::before {
	content: '';
	display: block;
	clear: both;
	width: 419px;
	height: 113px;
	background: url('./images/btn_register_on.png') no-repeat center center;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
}

.btn_register:hover::before {
	opacity: 1;
}




#sec-01-video{
    position: absolute;
    width: 100%;
    height: 930px;
    object-fit: cover;
    object-position: top;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


/*******************************
CONTENT
*******************************/
#content {
	position: relative;
	background: #444;
}

/*******************************
CONTENT - CONT01
*******************************/
#event01_cont01 {
	position: relative;
	height: 1080px;
	background: url('./images/section1.jpg') center 0 no-repeat;
    background-color: #000;
}

#event01_cont01 .btn_register {
    top:700px;
}

/*******************************
CONTENT - CONT02
*******************************/
#event01_cont02 {
	position: relative;
	height: 2880px;
	background: url('./images/section2.jpg') center 0 no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* width: 1920px;
    margin: 0 auto; */
}

#event01_cont02 .btn_register {
    top:2580px;
}

#event01_cont02 .section2_txt{
    position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -465.5px;
	z-index: 2;
	width:931px;
	height: 270px;
	background: url('./images/section2_txt.png') no-repeat center center;
	cursor: pointer;
}
#event01_cont02 .section2_img{
    position: absolute;
	top: 360px;
	left: 50%;
	margin-left: -465.5px;
	z-index: 2;
	width:931px;
	height: 2386px;
	background: url('./images/section2_img.png') no-repeat center center;
	cursor: pointer;
}

/*******************************
CONTENT - CONT03
*******************************/
#event01_cont03 {
	position: relative;
	height: 1080px;
	background: url('./images/section3.jpg') center 0 no-repeat;
    background-color: #000;
}


/*******************************
CONTENT - CONT04
*******************************/
#event01_cont04 {
	position: relative;
    height: 1080px;
	background: url('./images/section4.jpg') center 0 no-repeat;
    background-color: #000;
}

#event01_cont04 a.btn_phone {
	position: absolute;
	top: 623px;
	left: 50%;
	margin-left: -522px;
	display: block;
	width: 243px;
	height: 59px;
}
#event01_cont04 .content-wrapper-wrap{
    position:absolute;
	z-index:10;
	width:100%;
	max-width:800px;
    margin: 0 auto;
    top: 670px;
    margin-left: -400px;
    left: 50%;
	
}
.content-wrapper
{
	position:relative;
	z-index:10;
	width:100%;
	max-width:800px;
	margin:0 auto;
	margin-top:10px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center
}

.content-wrapper .pre-register-wrapper
{
	margin-top:27px;
	margin-right:15px;
	width:100%;
	max-width: 470px;
	min-width:320px;
	height:66px;
	background-color:#FFF;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center
}

.content-wrapper .pre-register-wrapper .email-box
{
	width:32px;
	margin:auto 16px;
	top:50%;
	transform:translate(-50% 0)
}

.content-wrapper .pre-register-wrapper .write-email-box
{
	background-color:#FFF;
	color:#757575;
	font-family:"Roboto";
	font-size:22px;
	font-weight:500;
	line-height:26px;
	border:none;
	width:100%;
	height:97%
}

.content-wrapper .pre-register-wrapper .write-email-box:focus
{
	outline:none
}

.content-wrapper .pre-register-now
{
	position:relative;
	margin-top:28px;
	cursor:pointer;
	width:100%;
	max-width:130px
}

.content-wrapper .pre-register-now .btn-normal
{
	width:100%;
	transition:all .3s ease
}

.content-wrapper .pre-register-now:hover .btn-normal
{
	transform:scale(0.96);
	filter: saturate(50%);
}

.check-agree
{
	position:relative;
	z-index:10;
	margin-top:20px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center
}

.check-agree .agree-chkbox
{
	display:none
}

.check-agree input[type=checkbox]+.agree-text::before
{
	content:'';
	margin-left:5px;
	margin-right:5px;
	margin-bottom:-3px;
	display:inline-block;
	width:18px;
	height:18px;
	border-radius:50%;
	border:1px solid #979797;
	-webkit-transition:all 0.2s,transform .3s ease-in-out;
	transition:all 0.2s,transform .3s ease-in-out;
	background-color:#FFF
}

.check-agree input[type=checkbox]:checked+.agree-text::before
{
	width:18px;
	height:18px;
	border-radius:50%;
	border:2px solid #FFF;
	background-color:#333
}

.check-agree .agree-text
{
	color:#575756;
	font-family:"Roboto",sans-serif;
	font-size:16px;
	line-height:18px;
}

.check-agree .agree-text .style-link
{
	color:#007893;
	text-decoration:underline;
    cursor: pointer;
}

.check-agree .agree-text.style-attention
{
	color:red;
	font-weight:700
}

.cont-desc-2
{
	position:relative;
	z-index:10;
    width: 100%;
    max-width: 800px;
	margin-top:10px;
	color:#575756;
	font-family:"Roboto",sans-serif;
	font-size:16px;
	line-height:18px;
	text-align:center;
}

.cont-desc-2 .style-link
{
	color:#007893;
	text-decoration:underline
}

.sns-wrapper
{
	position:relative;
	z-index:10;
	margin-top:20px;
	margin-bottom:80px;
	width:100%;
	max-width:280px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
    margin-left:-140px;
    left:50%;
}

.sns-wrapper .sns-button
{
	margin-top:10px;
	max-width:40px;
	cursor:pointer
}

.sns-wrapper .sns-button .sns-image
{
	width:100%;
	transition:all .3s ease
}

.sns-wrapper .sns-button:hover .sns-image
{
	transform:scale(0.96)
}

/*******************************
FOOTER
*******************************/

.footer-wrapper
{
	position: relative;
    margin-top: 0;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    width: 100%;
    background: #000;
    padding-bottom: 15px;

}

.footer-wrapper .footer--line
{
	height:1px;
	width:100%;
	transform:translateY(-1px);
	background-color:#646464;
	margin-bottom:15px
}

.footer-wrapper .footer-left
{
	width:30%;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center
}

.footer-wrapper .footer-left .company--logo1
{
	margin-top:5px;
	width:100%;
	max-width:120px;
	margin-left:20px
}

.footer-wrapper .footer-left .company--logo2
{
	margin-top:5px;
	width:100%;
	max-width:105px;
	margin-left:20px;
	margin-bottom:5px
}

.footer-wrapper .footer-middle
{
	width:30%;
	padding:0 5px;
	text-align:center;
	color:#A1A1A1;
	font-size:12px;
	line-height:15px;
    font-family:'Roboto';
}

.footer-wrapper .footer-right
{
	width:30%;
	padding-right:20px;
	display:flex;
	justify-content:flex-end;
	flex-wrap:wrap;
	text-align:right
}

.footer-wrapper .footer-right .policy
{
	text-decoration:none;
	color:#A1A1A1;
	font-size:11px;
	line-height:13px;
    font-family:'Roboto';
	cursor:pointer
}

/*******************************
COMPLETE
*******************************/

#complete {
	position: relative;
    height: 1800px;
	background: url('./images/complete_bg.jpg') center 0 no-repeat;
    background-color: #000;
}
#complete .complete_img{
    position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -465.5px;
	z-index: 2;
	width:931px;
	height: 2386px;
	background: url('./images/complete_img.png') no-repeat center center;
	cursor: pointer;
}
#complete .btn_ds {
	position: absolute;
	top: 1140px;
	left: 50%;
	margin-left: -269.5px;
	z-index: 999;
	width: 539px;
	height: 74px;
	background: url('./images/btn_ds.png') no-repeat center center;
	cursor: pointer;
}
#complete .btn_ds::before {
	content: '';
	display: block;
	clear: both;
	width: 539px;
	height: 74px;
	background: url('./images/btn_ds_on.png') no-repeat center center;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
}
#complete .btn_ds:hover::before {
	opacity: 1;
}
#complete .btn_pa {
	position: absolute;
	top: 1460px;
	left: 50%;
	margin-left: -269.5px;
	z-index: 999;
	width: 539px;
	height: 74px;
	background: url('./images/btn_pa.png') no-repeat center center;
	cursor: pointer;
}
#complete .btn_pa::before {
	content: '';
	display: block;
	clear: both;
	width: 539px;
	height: 74px;
	background: url('./images/btn_pa_on.png') no-repeat center center;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
}
#complete .btn_pa:hover::before {
	opacity: 1;
}
#complete .content-wrapper-wrap{
    position:absolute;
	z-index:10;
	width:100%;
	max-width:800px;
    margin: 0 auto;
    top: 1560px;
    margin-left: -400px;
    left: 50%;
	
}

#complete p.img_ch1 {
	position: absolute;
    top: 890px;
    left: 50%;
    margin-left: -229.5px;
	z-index: 999;
	width: 246px;
	height: 206px;
	background: url('./images/img_ch1.gif') no-repeat center center;
	cursor: pointer;
}
#complete p.img_ch2 {
	position: absolute;
    top: 890px;
    left: 50%;
    margin-left: -9.5px;
	z-index: 999;
	width: 246px;
	height: 206px;
	background: url('./images/img_ch2.gif') no-repeat center center;
	cursor: pointer;
}

/*******************************
SIDE-BANNER
*******************************/


.side-banner-wrapper
{
	position:fixed;
	bottom:50px;
	right:10px;
	/* width:320px; */
	z-index:11
}

.side-banner-wrapper .banner-content
{
	width:100%
}

.side-banner-wrapper .banner-content>img
{
	width:100%;
	transition:all .3s ease
}

.side-banner-wrapper .banner-content>img:hover
{
	transform:scale(0.95);
}

.side-banner-wrapper.show-banner
{
	right:10px;
	opacity:1;
	transition:all .6s ease-in
}

.side-banner-wrapper.hide-banner
{
	right:-384px;
	opacity:0;
	transition:all .6s ease-in
}


/*******************************
POPUP
*******************************/

.popup-window
{
	position:fixed;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.5);
	z-index:2000
}

.popup-window .popup-container
{
	position:absolute;
	width:90%;
	max-width:487px;
	min-width:300px;
	height:auto;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#2E3338E6 0 0 no-repeat padding-box;
	box-shadow:0 0 10px #1AB9C9;
	padding:15px;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center
}

.popup-window .popup-container .popup-description
{
	width:100%;
	color:#FFF;
	font-family:"Roboto",sans-serif;
	font-size:20px;
	font-weight:500;
	line-height:24px;
	text-align:center
}

.popup-window .popup-container .btn-close
{
	margin-top:20px;
	width:112px;
	height:48px;
	background-color:#1AB9C9;
	font-family:'Roboto',sans-serif;
	font-size:24px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:#FFF;
	font-weight:900;
	cursor:pointer
}